In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/imdb-5000-movie-dataset/movie_metadata.csv

In [2]:
data= pd.read_csv('/kaggle/input/imdb-5000-movie-dataset/movie_metadata.csv')

In [3]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]

In [5]:
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,Spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,Doug Walker,Rob Walker,NaN,Doug Walker,Documentary,Star Wars: Episode VII - The Force Awakens ...

In [6]:

# dealing with null values
data.isnull().sum(axis=0)

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [7]:
# replacing null values in the all columns with string 'unknown'
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [8]:
# In the ‘genres’ column, replacing the ‘|’ with whitespace,
# so the genres would be considered different strings.
data['genres'] = data['genres'].replace('|', ' ')

In [9]:
# Now converting the ‘movie_title’ columns values to lowercase for searching simplicity.
data['movie_title'] = data['movie_title'].str.lower()

In [10]:
# all the movie_title values have a special character added to the end
# which needs to be removed
data['movie_title'][0]

'avatar\xa0'

In [11]:
data['movie_title'] = data['movie_title'].str[:-1]

In [ ]:
data.to_csv('data.csv',index=False)